<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_URI} !^/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f



RewriteRule ^(.*)$ /public/$1
#RewriteRule ^ index.php [L]
RewriteRule ^(/)?$ public/index.php [L]
</IfModule>

<IfModule mod_headers.c>
    # Content Security Policy (CSP)
    Header set Content-Security-Policy "style-src 'self' https://fonts.bunny.net; style-src-elem 'self' https://fonts.bunny.net;"
    Header set Content-Security-Policy "script-src-elem 'self' https://app.sandbox.midtrans.com/snap/snap.js https://app.sandbox.midtrans.com;"

    # Prevent Clickjacking
    Header set X-Frame-Options "DENY"

    # Prevent MIME-Sniffing
    Header set X-Content-Type-Options "nosniff"

    # Enable HSTS
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

    # Disable X-Powered-By
    Header unset X-Powered-By
</IfModule>

<FilesMatch "^(composer\.lock|\.env|\.git|\.htaccess|\.htpasswd)$">
    Require all denied
</FilesMatch>
