@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

html,
body,
#root {
    background-color: rgb(215, 215, 215);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
    height: 6px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Round edges */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

/* For Firefox */
.scrollable {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}
