@keyframes slideIn {
  from {
    transform: translateY(-50%) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(-50%) scale(0.8);
    opacity: 0;
  }
}

.modal {
  transition: all 0.3s ease;
}

.animate-slide-in {
  animation: slideIn 0.3s forwards;
}

.animate-slide-out {
  animation: slideOut 0.3s forwards;
}
